<div id="pElegirTipoConsulta" data-role="page" data-theme="c">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <button onclick="backbutton.init()" class="ui-btn ui-btn-e ui-corner-all ui-nodisc-icon ui-btn-icon-left ui-icon-carat-l">Volver</button>
        <h1>Consulta de turnos</h1>
        <button onclick="btnMenuClick()" class="ui-btn ui-btn-c ui-corner-all ui-btn-inline ui-alt-icon ui-nodisc-icon ui-btn-icon-notext ui-icon-home"></button>
    </div>
    <div data-role="content" class="div_central">

        <div id="opcionesBusqueda">
            <h4 class="texto_pantalla_gr">Métodos de consulta</h4>
            
                <a href="#"
                    onclick="obtenerTurnosReservados(1)" 
                    class="ui-btn ui-btn-c ui-corner-all ui-shadow ui-icon-person-blue ui-btn-icon-left ui-nodisc-icon">
                    Turnos para mi
                </a>
                        
                <a href="#"
                    onclick="obtenerTurnosReservados(2)" 
                    class="ui-btn ui-btn-c ui-corner-all ui-shadow ui-icon-people-blue-f ui-btn-icon-left ui-nodisc-icon">
                    Turnos para otras personas
                </a>
            
        </div>
        <div id="dResultadosBusqueda">
            <ul id="ulResultadosBusqueda" data-role="listview" data-inset="true" 
                data-shadow="true" data-corners="true" data-theme="a" data-icon="false">

            </ul>
        </div>

        <div data-role="popup" id="popupInfoTurno" class="custom_popup_width ui-corner-all" data-theme="a" data-position-to="window" 
            data-overlay-theme="a" data-dismissible="true" data-transition="pop">
            <!-- <a href="#" data-rel="back" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-icon-delete ui-btn-icon-notext ui-btn-right"></a> -->
            <div data-role="content">
                <h4>Fecha y hora</h4>
                <h3 id="h1FechaHoraTurno" class="texto_pantalla"></h3>
                <div class="ui-field-contain">
                    <div id="dPacientePopup" class="agenda_resumen texto_14">
                        <span>Paciente: </span>
                        <strong id="sPacientePopup"></strong>
                    </div>
                    <div class="turno_detalle texto_14">
                        <div>
                            <span>Agenda: </span>
                            <strong id="sAgendaTurnoConsulta"></strong>
                        </div>
                        <!-- <div>
                            <span for="">Profesional: </span>
                            <strong id="sProfesionalDeAgendaConsulta"></strong>
                        </div> -->
                        <div>
                            <span>Reservado el </span>
                            <strong id="sFechaReservaConsulta"></strong>
                            <span> a las </span>
                            <strong id="sHoraReservaConsulta"></strong>
                        </div>
                        <!-- <div>
                            <span>Observaciones: </span>
                            <strong id="sObsReservaConsulta"></strong>
                        </div> -->
                    </div>
                    <input type="hidden" value="" id="hdTurnoId"/>
                </div>
                <button class="ui-btn ui-btn-d ui-corner-all ui-shadow ui-icon-delete-red ui-btn-icon-left ui-nodisc-icon" onclick="cancelarTurno()">Cancelar turno</button>
            </div>
        </div>
    </div>
</div>