/* .ui-icon-newuser:after {
    background-image: url("../img/icon/0080e0-user-32.png");
    background-size:20px 20px;
    height: 28px !important;
    width: 28px !important;  
} */

/* .ui-icon-history:after {
    background-image: url("../img/icon/0080e0-user-32.png");
    background-size: 16px 16px;
} */


.ui-c-icon:after {
    background-size:20px 20px;
    height: 28px !important;
    width: 28px !important;  
}

.ui-c-icon.ui-c-icon-newuser-blue:after {
    background-image: url("../img/icon/0080e0-user-32.png");
}

.ui-c-icon.ui-c-icon-history-blue:after {
    background-image: url("../img/icon/0080e0-list-32.png");
}

.ui-c-icon.ui-c-icon-turn-blue:after {
    background-image: url("../img/icon/0080e0-wipes-32.png");
}

.ui-c-icon.ui-c-icon-contact-blue:after {
    background-image: url("../img/icon/0080e0-message-32.png");
}

.ui-c-icon.ui-c-icon-login-blue:after {
    background-image: url("../img/icon/0080e0-login-32.png");
}

.ui-c-icon.ui-c-icon-alarm:after {
    background-image: url("../img/icon/ic_alarm_on.png");
}

.ui-c-icon.ui-c-icon-patient-blue:after {
    background-image: url("../img/icon/icons8-usuario-32.png");
}

.ui-c-icon.ui-c-icon-patient-blue-f:after {
    background-image: url("../img/icon/icons8-usuario-32-filled.png");
}

.ui-c-icon.ui-c-icon-patient-black:after {
    background-image: url("../img/icon/icons8-usuario-32-black.png");
}

.ui-icon-person-blue:after {
    background-size:20px 20px;
    height: 20px !important;
    width: 20px !important;  
    background-image: url("../img/icon/ic_person.png");
}
.ui-icon-people-blue-f:after {
    background-size:20px 20px;
    height: 20px !important;
    width: 20px !important;  
    background-image: url("../img/icon/ic_people.png");
}

.ui-icon-calendarweek:after {
    background-size: 15px 15px;
    height: 20px !important;
    width: 20px !important;  
    background-image: url("../img/icon/ic_date_range_32.png");
}

.ui-icon-delete-red:after {
    background-size: 15px 15px;
    height: 20px !important;
    width: 20px !important;  
    background-image: url("../img/icon/delete-property-icon-32.png");
}