@font-face {
    font-family: 'Roboto-regular';
    src: url('fonts/Roboto-Regular.ttf');
}

/* @font-face {
    font-family: 'Product-regular';
    src: url('fonts/Product-Sans-Regular.ttf');
} */

body, .ui-btn {
    /* font-family: 'Product-regular' !important; */
    font-family: 'Roboto-regular' !important;
}

.div_central {
    max-width: 500px !important;
    margin: auto !important;
}

.wrap {
    white-space: normal !important;
}

.btn_custom_height {
    height: 42px !important;
}

table {
    width: 100% !important;
}

#dCalendario table tr td {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 12px !important;
    text-align: center;
}

/*.dia_cal {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 12px !important;
    text-align: center;
}*/

.center_text {
    text-align: center !important;
}

/* label {
    font-style: italic;
} */

.texto_pantalla_gr {
    color: #a6a6a6;
}

.texto_pantalla_gr_c {
    color: #ddd;
}

.texto_pantalla_w {
    color: #ffffff !important;
}

.texto_pantalla_g {
    color: #9bbbd3;
}

.texto_pantalla {
    color: #0080e0;
}

.texto_pantalla_d {
    color: #e00000;
}

.texto_pantalla_dr {
    color: #910000;
}

.texto_pantalla_b {
    color: #000000;
}

.agenda_resumen {
    text-align: left;
    /*font-style: oblique;*/
    background-color: #cce9ff;
    padding: 6px 6px 6px 6px;
    border-radius: 8px;
    margin-bottom: 4px;
}

.turno_detalle {
    text-align: left;
    /*font-style: oblique;*/
    background-color: #e9e9e9;
    padding: 6px 6px 6px 6px;
    border-radius: 8px;
}


.cabecera_info_app {
    text-align: left;
    /*font-style: oblique;*/
    background-color: #e9e9e9;
    padding: 12px;
    border-radius: 8px;
}

.texto_12 {
    font-size: 12px !important;
}

.texto_14 {
    font-size: 14px !important;
}

.texto_16 {
    font-size: 16px !important;
}

.texto_22 {
    font-size: 22px !important;
}

.texto_cursiva {
    font-style: oblique !important;
}

.texto_normal {
    font-style: normal !important;
}

.margen_derecho {
    float: right;
}

.div_oculto {
    display: none;
    visibility: hidden;
}

.btn_custom_height {
    height: 42px !important;
    line-height: 42px !important;
}

.ref_normal {
    background-color: #e0e0e0 !important;
    border-color: #000000; 
}

.ref_verde {
    background-color: #6bd36b !important;
    color: #d6ffd6 !important; 
}

.ref_naranja {
    background-color: #ebb47d !important;
    color: #ffeedd !important; 
}

.ref_azul {
    background-color: #88cbff !important;
    color: #e2f2ff !important; 
}

#dReferenciasCalendario div {
    vertical-align: middle !important;
}

.right_text {
    text-align: right !important;
}

.left_text {
    text-align: left !important;
}

.lateral_padding {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.custom_scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    min-height: 200px;
    max-height: 300px;
}

.referencias_div_cal {
    background-color: #ffffff;
    padding: 4px;
    border-radius: 4px;
    /*border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;*/
}

.referencias_div_cal p {
    margin: 4px;
    font-size: 14px;
}

.referencia_cal {
    display: block;
    padding: 2px;
    height: 20px;
}

.referencia_cal_c {
    border-radius: 4px;
    width: 49%;
    height: 18px;
    text-align: center;
    font-size: 14px;
}

.referencia_cal_c span {
    line-height: 18px;
    vertical-align: middle;
}

.referencia_cal_c_l {
    float: left;
}

.referencia_cal_c_r {
    float: right;
}

.tProgreso {
    /*border-radius: 4px;*/
    /*border-width: 1px;
    border-color: #bfbfbf;
    border-style: solid;*/
    height: 16px;
    border-collapse: separate;
    border-spacing: 0px;
}

.tProgreso tr td {
    text-align: center;
    margin: 0px;
    /*border-radius: 4px;*/
}

.tProgreso tr:first-child td:first-child { 
    border-top-left-radius: 4px; 
    border-bottom-left-radius: 4px;
}

.tProgreso tr:first-child td:last-child { 
    border-top-right-radius: 4px; 
    border-bottom-right-radius: 4px;
}

.tProgreso tr td span {
    font-size: 10px;
    vertical-align: bottom;
    line-height: 16px;
}

/*0080e0*/
.etapa_actual {
    border: 1px #999999 solid;
    background-color: #999999;
    color: #ffffff;
}

/*bfbfbf*/
.etapa_completada {
    border: 1px #d9d9d9 solid;
    background-color: #d9d9d9;
    color: #ffffff;
}

.etapa_pendiente {
    border: 1px #d9d9d9 solid;
    color: #999999;
}

.btn_red_text {
    color: red !important;
}

.ui-corner-l {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em; 
}

.ui-corner-r {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;  
}

.custom_popup_width {
    width: 300px !important;
}





.controlgroup-textinput {
    padding-top:.22em !important;
    padding-bottom:.22em !important;
    /* height: 18px; */
    width: 10% !important;
}

.tFechas {
    border-collapse: separate !important;
    border-spacing: 0px !important;
    width: 100% !important;
}

.tFechaDiaMes {
    width: 27% !important;
    /* padding: 0px !important; */
}

.input_no_border {
    border-width: 0px !important;
}

.input_corner_left {
    border-top-left-radius: 1em !important;
    border-bottom-left-radius: 1em !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.input_corner_right {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
}


.tHorarios {
    border-collapse: separate !important;
    border-spacing: 0px !important;
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}
.tHorariosCampo {
    width: 20% !important;
}
.tHorariosSep {
    width: 10% !important;
}

.valor_incorrecto {
    border-color: #e00000 !important;
    color: #e00000 !important;
}

/* iscrollview custom styles */
.example-wrapper, .example-wrapper div.iscroll-scroller {
    width: 100% !important;
}

/* #testLI {
    display: inline-block !important;
} */

/*fila_paciente*/

#dPacientesCargados .ui-controlgroup-controls {
    width: 100% !important;
    float: none;
}

/* #dPacientesCargados .ui-controlgroup-controls .ui-last-child {
    margin-right: 0px !important;
} */

/* #dPacientesCargados .paciente {
    width: 65.25% !important;
    text-align: left !important;
} */

/* #dPacientesCargados .opcion {
    width: 2.74% !important;
} */

@media only screen and (orientation: portrait) and (min-width: 320px) {
    #dPacientesCargados .ui-controlgroup-controls {
        max-width: 288px !important;
    }

    #dPacientesCargados .paciente {
        /* width: 53.34% !important;*/
        width: 153.6px;
        text-align: left !important;
    }
    
    #dPacientesCargados .opcion {
        /* width: 2.23% !important; */
        width: 19.2px;
    }

    .popup_ayuda_pacientes {
        width: 288px !important;
    }
}

@media only screen and (orientation: portrait) and (min-width: 360px) {
    #dPacientesCargados .ui-controlgroup-controls {
        max-width: 328px !important;
    }

    #dPacientesCargados .paciente {
        /* width: 65.25% !important; */
        width: 185.6px !important;
        text-align: left !important;
    }
    
    #dPacientesCargados .opcion {
        /* width: 2.74% !important; */
        width: 23.2px !important;
    }

    .popup_ayuda_pacientes {
        width: 295px !important;
    }
}

@media only screen and (orientation: portrait) and (min-width: 410px) {
    #dPacientesCargados .ui-controlgroup-controls {
        max-width: 378px !important;
    }

    #dPacientesCargados .paciente {
        /* width: 65.25% !important; */
        width: 225.6px !important;
        text-align: left !important;
    }
    
    #dPacientesCargados .opcion {
        /* width: 2.74% !important; */
        width: 28.2px !important;
    }

    .popup_ayuda_pacientes {
        width: 340px !important;
    }
}

@media only screen and (orientation: portrait) and (min-width: 768px) {
    #dPacientesCargados .ui-controlgroup-controls {
        max-width: 500px !important;
    }

    #dPacientesCargados .paciente {
        width: 68.6% !important;
        text-align: left !important;
    }
    
    #dPacientesCargados .opcion {
        width: 6.1% !important;
    }

    .popup_ayuda_pacientes {
        width: 450px !important;
    }
}

@media only screen and (orientation: landscape) {
    #dPacientesCargados .paciente {
        width: 68.6% !important;
        text-align: left !important;
    }
    
    #dPacientesCargados .opcion {
        width: 6.1% !important;
    }

    .popup_ayuda_pacientes {
        width: 450px !important;
    }
}

#dPacientesCargados a {
    border: none !important;
}

/* ---------------- TEST -------------------- */

/* #pruebacontrolgroup .ui-controlgroup-label{
    float: none;
    display: block;
    text-align: center;
    width: 100%;
}
#pruebacontrolgroup .ui-controlgroup-label legend{
    font-weight: bold;
    font-size: 130%;   
    width: 100%;
    margin-bottom: 8px;
}
#pruebacontrolgroup .ui-controlgroup-controls {
    float: none; 
    display: block;
    width: 100%;
}
#pruebacontrolgroup .ui-radio{
    width: 33.33%;
}
#pruebacontrolgroup .ui-radio label{
    text-align: center;
    white-space: nowrap;
} */

/*botón flotante*/
#btnReiniciarEsp {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 16px; /* Place the button at the bottom of the page */
    right: 16px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
}

#btnAyudaPacientes {
    position: fixed;
    bottom: 65px;
    right: 0px;
    z-index: 99;
}


.ui-btn.my-tooltip-btn,
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {
    background: none;
    border: 0;
}
