<div id="pBuscadorAgenda" data-role="page" data-theme="c">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <button onclick="backbutton.init()" class="ui-btn ui-btn-e ui-corner-all ui-nodisc-icon ui-btn-icon-left ui-icon-carat-l">Volver</button>
        <h1>Turnos</h1>
        <button onclick="btnMenuClick()" class="ui-btn ui-btn-c ui-corner-all ui-btn-inline ui-alt-icon ui-nodisc-icon ui-btn-icon-notext ui-icon-home"></button>
    </div>
    <div data-role="content" class="div_central">
        <div id="dDescBusquedaAgenda" class="center_text">
            <h2 class="texto_pantalla">Turno para</h2>
            <h3 id="h3NombreUsuarioTurno2"></h3>
            <h4 class="texto_pantalla_g" id="h4TipoAtenc"></h4>
        </div>

        <div id="dResultadosBusquedaEsp">
            <ul id="ulListaResultadosEsp" 
                data-role="listview" data-inset="true" 
                data-shadow="true" data-corners="true">
                
            </ul>
            <div id="dNombreEspecialidad" class="ui-body ui-body-a ui-corner-all center_text">
                <h3 id="nombreEspecialidad"></h3>
            </div>
        </div>

        <div id="cuadroBusquedaAg" class="ui-field-contain center_text">
            <input id="txtBusquedaAgenda" type="text" data-corners="true" data-theme="a" data-clear-btn="true" placeholder="Nombre del profesional..."/>
            <button id="btnBuscarAgendas" class="ui-btn ui-btn-a ui-shadow ui-corner-all" onclick="buscarAgenda()">Buscar</button>
        </div>
        <div id="dResultadosBusquedaAg">
            <ul id="ulListaResultados" 
                data-role="listview" data-inset="true" 
                data-shadow="true" data-corners="true">
                
            </ul>
            <div id="indicacionNoAgendas" class="ui-field-contain center_text">
                <code>(ninguna agenda para mostrar)</code>
            </div>
        </div>

        <div id="resultadoError" class="center_text">
            <img src="../../img/app-images/ic_bug_report.png" height="96" width="96">
        </div>

        <button id="btnReiniciarEsp" class="ui-btn ui-btn-a ui-btn-inline ui-icon-refresh ui-btn-icon-left ui-shadow ui-corner-all ui-nodisc-icon ui-alt-icon" onclick="reiniciarBusquedaEspecialidad()">Listado</button>
    </div>
</div>