<div data-role="page" id="pCalendario" data-theme="c">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <button onclick="backbutton.init()" class="ui-btn ui-btn-e ui-corner-all ui-nodisc-icon ui-btn-icon-left ui-icon-carat-l">Volver</button>
        <h1>Turnos</h1>
        <button onclick="btnMenuClick()" class="ui-btn ui-btn-c ui-corner-all ui-btn-inline ui-alt-icon ui-nodisc-icon ui-btn-icon-notext ui-icon-home"></button>
    </div>
    <div data-role="content" class="div_central">
        <div class="center_text">
            <table data-enhance="false" class="tProgreso">
                <tr>
                    <td class="etapa_completada"> <span><strong>1</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>2</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>3</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>4</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>5</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>6</strong></span> </td>
                    <td class="etapa_actual"> <span><strong>7</strong></span> </td>
                </tr>
            </table>
        </div>
        <div class="center_text">
            <h2 class="texto_pantalla">Elija el día que más se adapte a sus necesidades</h2>
        </div>
        <div class="center_text">
            <p id="h5QuincenaElegida" class="texto_pantalla_g">
                Desde <strong id="sDesde"></strong> 
                hasta <strong id="sHasta"></strong>
            </p>
        </div>
        <div id="dCalendario" class="ui-field-contain">
            <table data-enhance="false">
                <thead>
                    <tr>
                        <th>D</th><th>L</th><th>M</th><th>M</th><th>J</th><th>V</th><th>S</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="tds1d1" class=""> <a class="aElegirDia" id="s1d1"></a> </td>
                        <td id="tds1d2" class=""> <a class="aElegirDia" id="s1d2"></a> </td>
                        <td id="tds1d3" class=""> <a class="aElegirDia" id="s1d3"></a> </td>
                        <td id="tds1d4" class=""> <a class="aElegirDia" id="s1d4"></a> </td>
                        <td id="tds1d5" class=""> <a class="aElegirDia" id="s1d5"></a> </td>
                        <td id="tds1d6" class=""> <a class="aElegirDia" id="s1d6"></a> </td>
                        <td id="tds1d7" class=""> <a class="aElegirDia" id="s1d7"></a> </td>
                    </tr>
                    <tr>
                        <td id="tds2d1" class=""> <a class="aElegirDia" id="s2d1"></a> </td>
                        <td id="tds2d2" class=""> <a class="aElegirDia" id="s2d2"></a> </td>
                        <td id="tds2d3" class=""> <a class="aElegirDia" id="s2d3"></a> </td>
                        <td id="tds2d4" class=""> <a class="aElegirDia" id="s2d4"></a> </td>
                        <td id="tds2d5" class=""> <a class="aElegirDia" id="s2d5"></a> </td>
                        <td id="tds2d6" class=""> <a class="aElegirDia" id="s2d6"></a> </td>
                        <td id="tds2d7" class=""> <a class="aElegirDia" id="s2d7"></a> </td>
                    </tr>
                    <tr>
                        <td id="tds3d1" class=""> <a class="aElegirDia" id="s3d1"></a> </td>
                        <td id="tds3d2" class=""> <a class="aElegirDia" id="s3d2"></a> </td>
                        <td id="tds3d3" class=""> <a class="aElegirDia" id="s3d3"></a> </td>
                        <td id="tds3d4" class=""> <a class="aElegirDia" id="s3d4"></a> </td>
                        <td id="tds3d5" class=""> <a class="aElegirDia" id="s3d5"></a> </td>
                        <td id="tds3d6" class=""> <a class="aElegirDia" id="s3d6"></a> </td>
                        <td id="tds3d7" class=""> <a class="aElegirDia" id="s3d7"></a> </td>
                    </tr>
                </tbody>
            </table>
            <div id="dReferenciasCalendario" class="referencias_div_cal">
                <p class="texto_pantalla_gr center_text"> <strong>Referencias</strong> </p>
                <div class="referencia_cal">
                    <div class="referencia_cal_c referencia_cal_c_l ref_verde"> <span>Mañana</span> </div>
                    <div class="referencia_cal_c referencia_cal_c_r ref_azul"> <span>Tarde</span> </div>
                </div>
                <div class="referencia_cal">
                    <div class="referencia_cal_c referencia_cal_c_l ref_naranja"> <span>Todo el día</span> </div>
                    <div class="referencia_cal_c referencia_cal_c_r ref_normal"> <span>No disponible</span> </div>
                </div>
            </div>
        </div>
        <!-- <div class="ui-field-contain ui-disabled" id="dConfirmarFecha">
            <button class="ui-btn ui-btn-a ui-corner-all ui-shadow" id="btnConfirmarFecha" onclick="navConfirmarReserva()">Confirmar fecha</button>
            <button class="ui-btn ui-btn-a ui-corner-all ui-shadow" id="btnModificarFecha" onclick="reiniciarCalendario()">Modificar</button>
        </div> -->
    </div>
    <div class="center_text ui-shadow" data-role="footer" data-theme="a" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <div data-role="navbar">
            <ul>
                <li>
                    <a href="#" class="ui-btn ui-btn-a ui-shadow ui-icon-calendarweek ui-btn-icon-top ui-nodisc-icon" onclick="cambiarQuincenaReserva()">Elegir otra quincena</a>
                </li>
            </ul>
        </div>
    </div>
</div>