<div id="pConfirmarReserva" data-role="page" data-theme="c">
    <!-- example-wrapper" data-iscroll -->
    <div data-role="content" class="div_central">
        <div class="ui-field-contain center_text">
            <h3 id="h3FechaReserva" class="texto_pantalla_d"></h3>
        </div>
        
        <div class="ui-field-contain">
            <ul id="dDescripcionReserva" data-role="listview" data-inset="true" data-shadow="true" data-theme="a">

            </ul>
        </div>
        <div id="dOpcionesFinReserva">
            <button class="ui-btn ui-btn-a ui-corner-all ui-shadow ui-btn-icon-left ui-icon-calendar ui-alt-icon ui-nodisc-icon" id="btnResumenCambiarDia" onclick="cambiarDiaReserva()">Cambiar de día</button>
            <button class="ui-btn ui-btn-a ui-corner-all ui-shadow ui-btn-icon-left ui-icon-calendarweek ui-nodisc-icon" id="btnResumenCambiarQuincena" onclick="cambiarQuincenaReserva()">Cambiar de quincena</button>
            <button class="ui-btn ui-btn-c ui-corner-all" id="btnResumenConfirmar" onclick="enviarReserva()">CONFIRMAR</button>
            <button class="ui-btn ui-btn-d ui-corner-all" id="btnResumenCancelar" onclick="confirmCancelarReservaCompleta()">Cancelar reserva</button>
        </div>
    </div>

</div>