<div id="pElegirTipoTurno" data-role="page" data-theme="c">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <button onclick="backbutton.init()" class="ui-btn ui-btn-e ui-corner-all ui-nodisc-icon ui-btn-icon-left ui-icon-carat-l">Volver</button>
        <h1>Turnos</h1>
        <button onclick="btnMenuClick()" class="ui-btn ui-btn-c ui-corner-all ui-btn-inline ui-alt-icon ui-nodisc-icon ui-btn-icon-notext ui-icon-home"></button>
    </div>
    <div data-role="content" class="div_central">
        <div class="center_text">
            <table data-enhance="false" class="tProgreso">
                <tr>
                    <td class="etapa_actual"> <span><strong>1</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>2</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>3</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>4</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>5</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>6</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>7</strong></span> </td>
                </tr>
            </table>
        </div>
        <div class="ui-field-contain center_text">
            <h2 class="texto_pantalla">Elija el tipo de reserva</h2>
        </div>
        <div class="ui-field-contain">
            <button class="ui-btn ui-btn-c ui-corner-all ui-shadow wrap" id="btnSoloUsuario" onclick="turnosIndividual(false)">
                TURNO PARA UD. SOLO
            </button>
            <button class="ui-btn ui-btn-c ui-corner-all ui-shadow wrap" id="btnUsuarioPersonas" onclick="turnosOpcion2(1, false, 'slide')">
                TURNO PARA UD. Y OTRAS PERSONAS
            </button>
            <button class="ui-btn ui-btn-c ui-corner-all ui-shadow wrap" id="btnSoloPersonas" onclick="turnosOpcion2(2, false, 'slide')">
                TURNO PARA OTRAS PERSONAS
            </button>
        </div>
    </div>
</div>