<div id="pElegirTipoAtencion" data-role="page" data-theme="c">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <button onclick="backbutton.init()" class="ui-btn ui-btn-e ui-corner-all ui-nodisc-icon ui-btn-icon-left ui-icon-carat-l">Volver</button>
        <h1>Turnos</h1>
        <button onclick="btnMenuClick()" class="ui-btn ui-btn-c ui-corner-all ui-btn-inline ui-alt-icon ui-nodisc-icon ui-btn-icon-notext ui-icon-home"></button>
    </div>
    <div data-role="content" class="div_central">
        <div class="ui-field-contain center_text">
            <h2 class="texto_pantalla">Turno para</h2>
            <h3 id="h3NombreUsuarioTurno"></h3>
        </div>
        <div class="ui-field-contain">
            <button class="ui-btn ui-btn-c ui-corner-all ui-shadow wrap" id="btnProfesional" onclick="navBusquedaAgenda(1, 'slide', false)">PROFESIONAL</button>
            <button class="ui-btn ui-btn-c ui-corner-all ui-shadow wrap" id="btnEspecialidades" onclick="navBusquedaAgenda(3, 'slide', false)">ESPECIALIDADES</button>
            <button class="ui-btn ui-btn-c ui-corner-all ui-shadow wrap" id="btnEstudios" onclick="navBusquedaAgenda(2, 'slide', false)">ESTUDIOS</button>
        </div>
    </div>
</div>