<div data-role="page" id="pElegirQuincena" data-theme="c">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <button onclick="backbutton.init()" class="ui-btn ui-btn-e ui-corner-all ui-nodisc-icon ui-btn-icon-left ui-icon-carat-l">Volver</button>
        <h1>Turnos</h1>
        <button onclick="btnMenuClick()" class="ui-btn ui-btn-c ui-corner-all ui-btn-inline ui-alt-icon ui-nodisc-icon ui-btn-icon-notext ui-icon-home"></button>
    </div>
    <div data-role="content" class="div_central">
        <div class="center_text">
            <table data-enhance="false" class="tProgreso">
                <tr>
                    <td class="etapa_completada"> <span><strong>1</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>2</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>3</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>4</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>5</strong></span> </td>
                    <td class="etapa_actual"> <span><strong>6</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>7</strong></span> </td>
                </tr>
            </table>
        </div>
        <div class="ui-field-contain center_text">
            <h2 class="texto_pantalla">Seleccione la quincena más conveniente para los turnos</h2>
        </div>
        <div>
            <button class="ui-btn ui-btn-a ui-shadow ui-corner-all" onclick="navCalendario(1, 0, false, 'pop')">
                <span id="quincena1"></span>
                <input type="hidden" id="quincena1desde" name="quincena1desde" value=""/>
                <input type="hidden" id="quincena1hasta" name="quincena1hasta" value=""/>
            </button>
            <button class="ui-btn ui-btn-a ui-shadow ui-corner-all" onclick="navCalendario(2, 0, false, 'pop')">
                <span id="quincena2"></span>
                <input type="hidden" id="quincena2desde" name="quincena2desde" value=""/>
                <input type="hidden" id="quincena2hasta" name="quincena2hasta" value=""/>
            </button>
            <button class="ui-btn ui-btn-a ui-shadow ui-corner-all" onclick="navCalendario(3, 0, false, 'pop')">
                <span id="quincena3"></span>
                <input type="hidden" id="quincena3desde" name="quincena3desde" value=""/>
                <input type="hidden" id="quincena3hasta" name="quincena3hasta" value=""/>
            </button>
            <button class="ui-btn ui-btn-a ui-shadow ui-corner-all" onclick="navCalendario(4, 0, false, 'pop')">
                <span id="quincena4"></span>
                <input type="hidden" id="quincena4desde" name="quincena4desde" value=""/>
                <input type="hidden" id="quincena4hasta" name="quincena4hasta" value=""/>
            </button>
            <button class="ui-btn ui-btn-a ui-shadow ui-corner-all" onclick="navCalendario(5, 0, false, 'pop')">
                <span id="quincena5"></span>
                <input type="hidden" id="quincena5desde" name="quincena5desde" value=""/>
                <input type="hidden" id="quincena5hasta" name="quincena5hasta" value=""/>
            </button>
            <button class="ui-btn ui-btn-a ui-shadow ui-corner-all" onclick="navCalendario(6, 0, false, 'pop')">
                <span id="quincena6"></span>
                <input type="hidden" id="quincena6desde" name="quincena6desde" value=""/>
                <input type="hidden" id="quincena6hasta" name="quincena6hasta" value=""/>
            </button>
        </div>
    </div>
</div>