<div data-role="page" id="pElegirHorario">
    <div data-role="header" data-theme="c" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <button onclick="backbutton.init()" class="ui-btn ui-btn-e ui-corner-all ui-nodisc-icon ui-btn-icon-left ui-icon-carat-l">Volver</button>
        <h1>Turnos</h1>
        <button onclick="btnMenuClick()" class="ui-btn ui-btn-c ui-corner-all ui-btn-inline ui-alt-icon ui-nodisc-icon ui-btn-icon-notext ui-icon-home"></button>
    </div>
    <div data-role="content" class="div_central">
        <div class="center_text">
            <table data-enhance="false" class="tProgreso">
                <tr>
                    <td class="etapa_completada"> <span><strong>1</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>2</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>3</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>4</strong></span> </td>
                    <td class="etapa_actual"> <span><strong>5</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>6</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>7</strong></span> </td>
                </tr>
            </table>
        </div>
        <div class="ui-field-contain center_text">
            <h2 class="texto_pantalla">Seleccione el rango de horario preferencial</h2>
        </div>
        <div class="ui-field-contain">
            <form class="center_text ui-body ui-body-a ui-corner-all" data-theme="a" onsubmit="validarHorarios(event)">
                <!-- <div>
                    <label for="iDesde">Desde</label>                
                    <input type="time" data-theme="a" id="iDesde" name="iDesde" value="08:00"/>
                </div>
                <div>
                    <label for="iHasta">Hasta</label>            
                    <input type="time" data-theme="a" id="iHasta" name="iHasta" value="20:00"/>
                </div> -->
                <div class="ui-field-contain">
                    <label for="">Desde</label>
                    <table class="tHorarios" data-enhanced="false">
                        <tbody>
                            <tr>
                                <td class="tHorariosCampo center_text">
                                    <div class="ui-input-text ui-body-inherit ui-corner-all">
                                        <input type="text" class="center_text" id="iHoraDesde" 
                                            inputmode="numeric" min="0" max="23" data-enhanced="true" value="08"
                                            oninput="listenersObject.inputHoraChangeListener(this)"
                                            onblur="listenersObject.inputHoraBlurListener(this)" />
                                    </div>
                                </td>
                                <td class="tHorariosSep"><strong>:</strong></td>
                                <td class="tHorariosCampo center_text">
                                    <div class="ui-input-text ui-body-inherit ui-corner-all">
                                        <input type="text" class="center_text" id="iMinutoDesde" 
                                            inputmode="numeric" min="0" max="59" data-enhanced="true" value="00"
                                            oninput="listenersObject.inputMinutoChangeListener(this)"
                                            onblur="listenersObject.inputMinutoBlurListener(this)" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ui-field-contain">
                    <label for="">Hasta</label>
                    <table class="tHorarios" data-enhanced="false">
                        <tbody>
                            <tr>
                                <td class="tHorariosCampo">
                                    <div class="ui-input-text ui-body-inherit ui-corner-all">
                                        <input type="text" class="center_text" id="iHoraHasta" 
                                            inputmode="numeric" min="0" max="23" data-enhanced="true" value="20"
                                            oninput="listenersObject.inputHoraChangeListener(this)"
                                            onblur="listenersObject.inputHoraBlurListener(this)" />
                                    </div>
                                </td>
                                <td class="tHorariosSep"><strong>:</strong></td>
                                <td class="tHorariosCampo">
                                    <div class="ui-input-text ui-body-inherit ui-corner-all">
                                        <input type="text" class="center_text" id="iMinutoHasta" 
                                            inputmode="numeric" min="0" max="59" data-enhanced="true" value="00"
                                            oninput="listenersObject.inputMinutoChangeListener(this)"
                                            onblur="listenersObject.inputMinutoBlurListener(this)" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <!-- <button class="ui-btn ui-btn-c ui-corner-all ui-shadow ui-icon-carat-r ui-btn-icon-right" onclick="navElegirQuincena(false)">Continuar</button> -->
                    <input type="submit" value="Continuar" data-theme="c" data-corners="true" data-shadow="true"/>
                </div>
            </form>
        </div>
    </div>
</div>