<div data-role="page" id="pElegirPaciente" data-theme="c">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <button onclick="backbutton.init()" class="ui-btn ui-btn-e ui-corner-all ui-nodisc-icon ui-btn-icon-left ui-icon-carat-l">Volver</button>
        <h1>Turnos</h1>
        <button onclick="btnMenuClick()" class="ui-btn ui-btn-c ui-corner-all ui-btn-inline ui-alt-icon ui-nodisc-icon ui-btn-icon-notext ui-icon-home"></button>
    </div>
    <div data-role="content" class="div_central">
        <div class="center_text">
            <table data-enhance="false" class="tProgreso">
                <tr>
                    <td class="etapa_completada"> <span><strong>1</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>2</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>3</strong></span> </td>
                    <td class="etapa_actual"> <span><strong>4</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>5</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>6</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>7</strong></span> </td>
                </tr>
            </table>
        </div>        
        <div class="ui-field-contain center_text">
            <h2 id="h2TextoPantallaSiNo" class="texto_pantalla">Elija el paciente para el cual solicitará turno</h2>
        </div>
        <!-- <ul id="dPacientesCargados" class="center_text" data-theme="a"
            data-role="listview" data-inset="true" data-split-theme="a"
            data-corners="true" data-split-icon="edit">

        </ul> -->
        <div id="dPacientesCargados" class="center_text">
            
        </div>
        <!-- <div id="pruebacontrolgroup">
            <div data-role="controlgroup" data-type="horizontal">
                <label for="r1">PACIENTE</label>
                <input type="radio" name="r" id="r1" value="0" data-theme="a" onclick="alert('si');"/>
                <label for="r2">0</label>
                <input type="radio" name="r" id="r2" value="1" data-theme="a"/>
                <label for="r3">E</label>
                <input type="radio" name="r" id="r3" value="2" data-theme="a"/>
            </div>
        </div> -->
        <div id="dTextoSinPacientes" class="center_text">
            <p>No quedan pacientes para elegir.</p>
            <p>Si necesita agregar nuevos pacientes, <br>
                <a href="#" onclick="comenzarPedidoTurno('', true)">vuelva a elegir el tipo de reserva</a> 
            </p>
        </div>
        <div id="btnAyudaPacientes" class="right-text">
            <a href="#popupAyudaPacientes" data-transition="pop" data-rel="popup" onclick=""
                class="ui-btn ui-btn-a ui-btn-inline ui-corner-all ui-icon-info ui-btn-icon-left ui-nodisc-icon ui-alt-icon">Ayuda</a>
        </div>
        <div id="popupAgendasPaciente" data-role="popup" data-theme="a" data-position-to="origin" 
            data-overlay-theme="a" data-dismissible="true" class="ui-corner-all custom_popup_width" data-transition="pop">
            <div data-role="content">
                <h4>Agendas para</h4>
                <h3 id="h3PopupTituloNombrePac" class="texto_pantalla"></h3>
                <div class="ui-field-contain">
                    <ul id="ulAgendasPaciente" class="center_text" data-theme="a"
                        data-role="listview" data-inset="true" data-split-theme="a"
                        data-corners="true" data-split-icon="delete" data-shadow="false">

                    </ul>
                </div>
                <a data-rel="back" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-icon-check ui-btn-icon-left">Cerrar</a>
            </div>
        </div>
        <div id="popupAyudaPacientes" data-role="popup" data-theme="a" data-position-to="window" 
            data-overlay-theme="a" data-dismissible="true" class="popup_ayuda_pacientes">
            <div data-role="header"> <h1>Ayuda</h1> </div>
            <div data-role="content">
                <div id="dContenidoAyudaPaciente" class="ui-field-contain texto_14">
                    <ul>
                        <li>
                            <p class="wrap">Para comenzar, toque sobre el nombre de un paciente para buscar una agenda médica.</p>
                        </li>
                        <li>
                            <p class="wrap">Toque sobre el botón azul para gestionar sus agendas.</p>
                        </li>
                        <li>
                            <p class="wrap">Podrá cambiar o quitar un paciente tocando el botón a la derecha de cada uno.</p>
                        </li>
                        <li>
                            <p class="wrap">Tenga en cuenta que, para la asignación de horarios de turnos, se dará prioridad a los 
                                <strong>estudios</strong> antes que los <strong>profesionales</strong> (es decir, los turnos en horarios más temprano
                                serán para <strong>estudios</strong>).</p>
                        </li>
                    </ul>
                </div>
                <a data-rel="back" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-icon-check ui-btn-icon-left">Cerrar</a>
            </div>
        </div>
    </div>
    <div class="center_text ui-shadow" data-role="footer" data-theme="a" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <div data-role="navbar">
            <ul>
                <li>
                    <button id="btnDetalleReserva" class="ui-btn ui-btn-a ui-icon-bullets ui-nodisc-icon ui-alt-icon ui-btn-icon-top" onclick="verReserva()">
                        Ver detalle
                    </button>
                </li>
                <li>
                    <button id="btnTerminarReserva" class="ui-btn ui-btn-a ui-icon-calendarweek ui-nodisc-icon ui-btn-icon-top" onclick="validarPacientes()">
                        Elegir fechas
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>