<div id="pElegirCantPersonas" data-role="page" data-theme="c">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <button onclick="backbutton.init()" class="ui-btn ui-btn-e ui-corner-all ui-nodisc-icon ui-btn-icon-left ui-icon-carat-l">Volver</button>
        <h1>Turnos</h1>
        <button onclick="btnMenuClick()" class="ui-btn ui-btn-c ui-corner-all ui-btn-inline ui-alt-icon ui-nodisc-icon ui-btn-icon-notext ui-icon-home"></button>
    </div>
    <div data-role="content" class="div_central">
        <div class="center_text">
            <table data-enhance="false" class="tProgreso">
                <tr>
                    <td class="etapa_completada"> <span><strong>1</strong></span> </td>
                    <td class="etapa_actual"> <span><strong>2</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>3</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>4</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>5</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>6</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>7</strong></span> </td>
                </tr>
            </table>
        </div>
        <div class="ui-field-contain center_text">
            <h2 class="texto_pantalla" id="h2EleccionModoTurno"> </h2>
        </div>
        <div data-role="controlgroup" id="dCantPersonasA" data-theme="a" class="ui-shadow">
            <label for="opcion1A">1</label>
            <input type="radio" id="opcion1A" name="opcion" value="1"/>
            <label for="opcion2A">2</label>
            <input type="radio" id="opcion2A" name="opcion" value="2"/>
            <label for="opcion3A">3</label>
            <input type="radio" id="opcion3A" name="opcion" value="3"/>
        </div>
        <div data-role="controlgroup" id="dCantPersonasB" data-theme="a" class="ui-shadow">
            <label for="opcion1B">1</label>
            <input type="radio" id="opcion1B" name="opcion" value="1"/>
            <label for="opcion2B">2</label>
            <input type="radio" id="opcion2B" name="opcion" value="2"/>
            <label for="opcion3B">3</label>
            <input type="radio" id="opcion3B" name="opcion" value="3"/>
            <label for="opcion4B">4</label>
            <input type="radio" id="opcion4B" name="opcion" value="4"/>
        </div>
        <div class="ui-field-contain">
            <button class="ui-btn ui-btn-c ui-corner-all ui-shadow" onclick="iniciarIngresoPacientes()">Siguiente</button>
        </div>
    </div>
    <!-- <div data-role="footer" data-theme="a" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">

    </div>  -->
</div>