<div id="pEstudiosRadiologicos" data-role="page" data-theme="a">
    <div data-role="header" data-theme="c" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <button onclick="backbutton.init()" class="ui-btn ui-btn-e ui-corner-all ui-nodisc-icon ui-btn-icon-left ui-icon-carat-l">Volver</button>
        <h1>Radiología</h1>
        <button onclick="btnMenuClick()" class="ui-btn ui-btn-c ui-corner-all ui-btn-inline ui-nodisc-icon ui-alt-icon ui-btn-icon-notext ui-icon-home"></button>
    </div>
    <div data-role="content" class="div_central">
        <h4 class="texto_pantalla_gr center_text">Estudios radiológicos:</h4>
        <div id="dEstudiosRxApp">
            <ul id="ulEstudiosRadio" class="center_text"
                data-role="listview" data-inset="true" 
                data-corners="true" data-shadow="true" data-icon="false">
                <li>
                    <a href="#" class="wrap" onclick="elegirTipoRx(this)"><span class="texto_normal texto_pantalla">RX cabeza y cuello</span></a>
                </li>
                <li>
                    <a href="#" class="wrap" onclick="elegirTipoRx(this)"><span class="texto_normal texto_pantalla">RX miembros superiores y hombros</span></a>
                </li>
                <li>
                    <a href="#" class="wrap" onclick="elegirTipoRx(this)"><span class="texto_normal texto_pantalla">RX torax</span></a>
                </li>
                <li>
                    <a href="#" class="wrap" onclick="elegirTipoRx(this)"><span class="texto_normal texto_pantalla">RX abdomen</span></a>
                </li>
                <li>
                    <a href="#" class="wrap" onclick="elegirTipoRx(this)"><span class="texto_normal texto_pantalla">RX pelvis</span></a>
                </li>
                <li>
                    <a href="#" class="wrap" onclick="elegirTipoRx(this)"><span class="texto_normal texto_pantalla">RX miembros inferiores</span></a>
                </li>
            </ul>
            <a href="#popupEstudiosTel" data-rel="popup" class="ui-btn ui-btn-a ui-shadow ui-corner-all wrap">
                <span class="texto_pantalla_dr">Los siguientes estudios se deben reservar telefónicamente:</span>
            </a>
        </div>
        <div data-role="popup" id="popupEstudiosTel" data-theme="a" data-position-to="window" 
            data-overlay-theme="a" data-dismissible="true" class="ui-corner-all custom_popup_width" data-transition="pop">
            <div data-role="content">
                <h4 class="texto_pantalla_gr">Estudios que se reservan teléfonicamente:</h4>
                <div class="ui-field-contain">
                    <ul id="ulEstudiosRadio" class="center_text"
                        data-role="listview" data-inset="true" 
                        data-corners="true" data-shadow="false" data-icon="false">
                        <li>
                            <strong class="wrap texto_pantalla_dr">RX colon x enema</strong>
                        </li>
                        <li>
                            <strong class="wrap texto_pantalla_dr">RX seriada esófago gastro-duodenal</strong>
                        </li>
                        <li>
                            <strong class="wrap texto_pantalla_dr">RX tránsito de intestino delgado</strong>
                        </li>
                        <li>
                            <strong class="wrap texto_pantalla_dr">Estudios urológicos</strong>
                        </li>
                    </ul>
                </div>
                <a data-rel="back" class="ui-btn ui-btn-b ui-corner-all ui-shadow ui-icon-check ui-btn-icon-left">Cerrar</a>
            </div>
        </div>
    </div>
</div>
