<div id="pFinalizarReserva" data-role="page" data-theme="c">
    
    <div data-role="content" class="div_central">
        <div class="ui-field-contain center_text">
            <h2 class="texto_pantalla">Turnos reservados con éxito</h2>
            <h3 id="h3FechaReserva" class="texto_pantalla_gr"></h3>
        </div>
        
        <div class="ui-field-contain">
            <ul id="dDescripcionReserva" data-role="listview" data-inset="true" data-shadow="true" data-theme="a">

            </ul>
        </div>
        <div id="dOpcionesFinReserva">
            <button class="ui-btn ui-btn-c ui-corner-all ui-shadow" id="btnResumenConfirmar" onclick="finalizarReserva()">TERMINAR</button>
        </div>
    </div>

</div>