<div id="pIngresoIDPacientes" data-role="page" data-theme="c">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <button onclick="backbutton.init()" class="ui-btn ui-btn-e ui-corner-all ui-nodisc-icon ui-btn-icon-left ui-icon-carat-l">Volver</button>
        <h1>Turnos</h1>
        <button onclick="btnMenuClick()" class="ui-btn ui-btn-c ui-corner-all ui-btn-inline ui-alt-icon ui-nodisc-icon ui-btn-icon-notext ui-icon-home"></button>
    </div>
    <div data-role="content" class="div_central">
        <div class="center_text">
            <table data-enhance="false" class="tProgreso">
                <tr>
                    <td class="etapa_completada"> <span><strong>1</strong></span> </td>
                    <td class="etapa_completada"> <span><strong>2</strong></span> </td>
                    <td class="etapa_actual"> <span><strong>3</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>4</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>5</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>6</strong></span> </td>
                    <td class="etapa_pendiente"> <span><strong>7</strong></span> </td>
                </tr>
            </table>
        </div>          
        <div class="ui-field-contain center_text">
            <h2 id="h2TextoIDPacientes" class="texto_pantalla">
                Ingrese a continuación la identificación de la <span id="sOrdenPersonaCuerpo"></span>º persona
            </h2>
        </div>
        <div class="ui-field-contain center_text">
            <!-- <div class="ui-body ui-body-a ui-corner-all"> -->
            <form id="fIngresoIDPacientes" class="ui-body ui-body-a ui-corner-all" action="" onsubmit="buscarPaciente(event)">
                <!-- <h4 class="texto_pantalla_gr">Opciones de búsqueda</h4> -->
                <div class="ui-field-contain">
                    <div data-role="navbar" class="ui-corner-all">
                        <ul>
                            <li onclick="modificarTipoFiltroPaciente(1)"> <a class="ui-btn-active ui-corner-l" href="#">ID</a> </li>
                            <li onclick="modificarTipoFiltroPaciente(2)"> <a class="ui-corner-r" href="#">D.N.I.</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="ui-field-contain">
                    <input type="text" inputmode="numeric" id="txtIDPaciente" name="txtIDPaciente" data-clear-btn="true"
                        data-theme="a" placeholder="ID de paciente..." oninput="listenersObject.identificacionPacienteListener(this)" />
                </div>
                <div class="ui-field-contain center_text">
                    <div>
                        <label for="">Fecha de nacimiento:</label>
                        <!-- <input type="date" id="txtFecPaciente" name="txtFecPaciente" data-theme="a" /> -->
                        <table id="tFechaIngresoPacientes" class="tFechas">
                            <tbody>
                                <tr>
                                    <td class="tFechaDiaMes center_text"> 
                                        <!--input_no_border-->
                                        <div class="ui-input-text ui-body-inherit ui-shadow-inset input_corner_left">
                                            <input type="text" id="dia" name="dia" placeholder="Día"
                                                inputmode="numeric" data-enhanced="true"
                                                onfocus="listenersObject.inputDiaMesFocusListener(this)"
                                                oninput="listenersObject.inputDiaChangeListener(this)"
                                                onblur="listenersObject.inputDiaBlurListener(this)"/> 
                                        </div>
                                    </td>

                                    <!-- <td> <code class="texto_22 texto_pantalla_gr_c">/</code> </td> -->

                                    <td class="tFechaDiaMes center_text"> 
                                        <div class="ui-input-text ui-body-inherit ui-shadow-inset ">
                                            <input type="text" id="mes" name="mes" placeholder="Mes"
                                                inputmode="numeric" data-enhanced="true"
                                                onfocus="listenersObject.inputDiaMesFocusListener(this)"
                                                oninput="listenersObject.inputMesChangeListener(this)"
                                                onblur="listenersObject.inputMesBlurListener(this)"/> 
                                        </div>
                                    </td>

                                    <!-- <td> <code class="texto_22 texto_pantalla_gr_c">/</code> </td> -->

                                    <td class="center_text"> 
                                        <div class="ui-input-text ui-body-inherit ui-shadow-inset input_corner_right ">
                                            <input type="text" id="anio" name="anio" placeholder="Año"
                                                inputmode="numeric" data-enhanced="true"
                                                oninput="listenersObject.inputAnioChangeListener(this)"
                                                onblur=""/> 
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <input type="submit" id="btnConfirmarIDPaciente" value="Buscar" data-theme="c" data-corners="true" data-shadow="true" />
                </div>
            </form>
            <!-- </div> -->
            <!-- <div>
                <a id="btnConfirmarIDPaciente" class="ui-btn ui-btn-a ui-corner-all ui-shadow" onclick="buscarPaciente()">Buscar</a>
            </div> -->
        </div>
        <!-- <div class="ui-field-contain center_text" id="dBotonesIDPacientes">
            <strong> <p class="wrap" id="nombreIDPaciente"></p> </strong>
            <button class="ui-btn ui-btn-c ui-corner-all ui-shadow" id="btnPacienteCorrecto" onclick="confirmarPacienteIngresado()">Es correcto</button>
            <button class="ui-btn ui-btn-d ui-corner-all ui-shadow" id="btnPacienteIncorrecto" onclick="modificarIdPacienteIngresado()">Modificar</button>
        </div> -->
    </div>
    <div data-role="footer" data-theme="a" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <h1 id="hProgresoFooter"></h1>
    </div> 
</div>