<div id="pConfiguracion" data-role="page" data-theme="a">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="" data-theme="b">
        <h1 class="wrap">Configuración</h1>
    </div>
    <div data-role="content" class="div_central">
        <div class="ui-field-contain" id="dActivarOpciones">
            <div>
                <label for="flip-1">
                    <a class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
                        onclick="uConfig.functions.infoAutoQueryStatus()">info</a>
                    Consultar turnos próximos: 
                </label>
                <!-- <input type="checkbox" data-role="flipswitch" name="flip-checkbox-1" id="flip-checkbox-1"
                    data-on-text="Si" data-off-text="No"/> -->
                <select id="flip-1" name="flip-1" data-role="slider" onchange="listenersObject.flipChangeListener()">
                    <option value="0">No</option>
                    <option value="1">Si</option>
                </select>
            </div>
        </div>
        <div class="ui-field-contain" id="dConfigIdPaciente">
            <div>
                <label for="">
                    <a class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
                        onclick="uConfig.functions.infoPacientQueryId()">info</a>
                    Paciente para consultar turnos: 
                </label>
                <input type="number" id="txtConfigIdPaciente" placeholder="ID de paciente..." oninput="$('#btnGuardarConfiguracion').removeClass('ui-disabled')"/>
                <button class="ui-btn ui-btn-a ui-corner-all" onclick="uConfig.functions.validatePatientId()"><span class="texto_pantalla">Validar</span></button>
            </div>
        </div>
        <div class="ui-field-contain" id="dConfigMinutos">
            <div>
                <label for="">
                    <a class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
                        onclick="uConfig.functions.infoQueryTimeFrame()">info</a>
                    Tiempo para consultar turnos:
                </label>
                <input type="number" id="txtConfigMinutos" placeholder="Minutos..." oninput="$('#btnGuardarConfiguracion').removeClass('ui-disabled')"/>
            </div>
        </div>
        <div class="ui-field-contain" id="dConfigPosponer">
            <div>
                <label for="">
                    <a class="my-tooltip-btn ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext" 
                        onclick="uConfig.functions.infoReproNotifications()">info</a>
                    Minutos para posponer notificaciones:
                </label>
                <input type="range" id="txtConfigPosponer" min="0" max="45" step="5" value="15" readonly onchange="$('#btnGuardarConfiguracion').removeClass('ui-disabled')"/>
            </div>
        </div>
        <!-- <div class="ui-field-contain" id="dConfigDias">
            <div>
                <label for="">Prueba:</label>
                <input type="time" value=""/>
            </div>
        </div> -->
        <button class="ui-btn ui-btn-c ui-corner-all ui-shadow" id="btnGuardarConfiguracion" onclick="guardarConfiguracion()">Guardar</button>
    </div>
    <!-- <div class="center_text ui-shadow" data-role="footer" data-theme="a" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <div data-role="navbar">
            <ul>
                <li>
                    <button id="btnDetalleReserva" class="ui-btn ui-btn-a" onclick="">
                        Ver detalle
                    </button>
                </li>
                <li>
                    <button id="btnTerminarReserva" class="ui-btn ui-btn-a" onclick="">
                        Elegir fechas
                    </button>
                </li>
            </ul>
        </div>
    </div> -->
</div>