<div data-role="page" id="pEncuestaUsuario" data-theme="a">

    <div data-role="content" class="div_central">
        <div class="ui-field-contain">
            <h2 class="texto_pantalla_gr center_text">Próximo turno:</h2>
            <div class="ui-body ui-body-a ui-corner-all ui-shadow">
                <h1 class="texto_pantalla texto_22" id="horarioTurnoEncuesta"></h1>
                <h1 class="agenda_resumen wrap texto_16" id="agendaEncuesta"></h1>
                <p class="texto_12">Paciente</p>
                <h1 id="pacienteEncuesta" class="texto_16"></h1>
            </div>
        </div>
        <div>
            <h3 class="texto_pantalla">Por favor, ingrese la siguiente información solicitada:</h3>
            <div>
                <div>
                    <label for="memoMotivoConsulta">¿Por qué motivo viene a ver al médico?</label>
                    <textarea name="memoMotivoConsulta" id="memoMotivoConsulta" maxlength="255"></textarea>
                </div>
            </div>
            <div>
                <div>
                    <label for="memoRemedios">¿Qué remedios está tomando?</label>
                    <textarea name="memoRemedios" id="memoRemedios" maxlength="255"></textarea>
                </div>
            </div>
        </div>
    </div>
    
    <div class="center_text ui-shadow" data-role="footer" data-theme="a" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <div data-role="navbar">
            <ul>
                <li>
                    <a href="#" class="ui-btn ui-btn-a ui-shadow ui-icon-check ui-btn-icon-top" onclick="enviarEncuestaPreviaTurno()">Guardar y enviar</a>
                </li>
            </ul>
        </div>
    </div>

</div>