<div data-role="page" id="pEncuestaSatisfaccion" data-theme="a">
        <div data-role="content" class="div_central">
            <div class="ui-field-contain">
                <h2 class="texto_pantalla_gr center_text">Turno para calificar:</h2>
                <div class="ui-body ui-body-a ui-corner-all ui-shadow">
                    <h1 class="texto_pantalla texto_22" id="horarioTurnoEncuesta"></h1>
                    <h1 class="agenda_resumen wrap texto_16" id="agendaEncuesta"></h1>
                    <p class="texto_12">Paciente</p>
                    <h1 id="pacienteEncuesta" class="texto_16"></h1>
                </div>
            </div>
            <div>
                <h4 class="texto_pantalla center_text">
                    Califique la atención recibida (del 1 al 10):
                </h4>
                <p class="texto_14 center_text texto_pantalla_gr">Arrastre el control para elegir el valor</p>
                <div>
                    <!-- <div data-role="navbar" data-grid="d">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>
                    <div data-role="navbar" data-grid="d">
                        <ul>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                        </ul>
                    </div> -->
                    <input 
                        type="range" step="1" min="1" max="10" value="1" data-highlight="true" 
                        onchange="navigator.vibrate(40);"
                        id="sldCalificacionTurno" name="sldCalificacionTurno"/>
                </div>
            </div>
        </div>
        <div class="center_text ui-shadow" data-role="footer" data-theme="a" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
            <div data-role="navbar">
                <ul>
                    <li>
                        <a href="#" class="ui-btn ui-btn-a ui-shadow ui-icon-check ui-btn-icon-top" onclick="enviarEncuestaSatisfaccion()">Guardar y enviar</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>