<div id="pError" data-role="page">
    <div data-role="content">
        <h1 class="center_text error-text">
            Error en la aplicación
        </h1>
        <div class="ui-corner-all ui-body ui-body-d">
            <h3 id="descripcionError" class=""></h3>
        </div>
        <h3 class="center-text ui-field-contain">
            Cierre la aplicación e intente de nuevo
        </h3>
        <div>
            <button class="ui-btn ui-btn-d ui-shadow ui-corner-all ui-btn-icon-top ui-icon-delete ui-nodisc-icon" onclick="salir(false)">Salir</button>
        </div>
    </div>
</div>