<div id="pMenuPrincipal" data-role="page" data-theme="c">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <h1 class="wrap">Menú principal</h1>
    </div>
    <!-- begin PANEL -->
    <div id="panelOpciones" data-role="panel" data-display="overlay" data-position="left" data-position-fixed="true"
        data-theme="a">
        <div id="infoApp">
            <div>
                <img src="../img/app-images/1024x1024_panel.png" width="210" />
            </div>
            <div class="ui-field-contain">
                <p>
                    Para más información, <br><a href="http://www.clinicaparque.com.ar" data-rel="close">visite nuestro
                        sitio web</a>
                </p>
                <p class="texto_14 texto_pantalla_gr">Versión <strong id="pInfoVersionApp"></strong></p>
            </div>
        </div>

        <div id="ultimoAccesoApp" class="ui-field-contain">
            <p class="texto_14">Último acceso:</p>
            <strong id="pFechaHoraUltAcceso"></strong>
            <p class="texto_14">Si desea usar la aplicación con otro usuario, elija esta opción</p>
            <button class="ui-btn ui-btn-a ui-corner-all btn_red_text" onclick="desvincularUsuario()">
                Desvincular usuario
            </button>
            <!-- <div class="ui-mini">
                <input type="number" id="idPacienteTest"/>
                <button onclick="test_encuestaUsuario()">encuesta previa</button>
                <button onclick="test_encuestaDeSatisfaccion()">encuesta de satisfaccion</button>
            </div> -->
        </div>

        <!-- <div id="desvincularApp" class="ui-field-contain">
            <button class="ui-btn ui-btn-a ui-corner-all ui-btn-icon-left ui-icon-gear ui-nodisc-icon ui-alt-icon" onclick="navConfiguracion()">
                Configuración
            </button>
        </div> -->
    </div>
    <!-- end PANEL -->
    <div data-role="content">
        <div class="div_central">
            <div class="center_text">
                <strong>
                    <p class="center_text texto_pantalla_g" id="h4BienvenidaUsuario"></p>
                </strong>
            </div>
            <div class="ui-field-contain">
                <a href="#" class="ui-btn ui-btn-c ui-corner-all ui-shadow ui-btn-icon-top ui-c-icon ui-c-icon-turn-blue ui-nodisc-icon wrap"
                    onclick="comenzarPedidoTurno('turnos/', false, 'fade')">TURNOS</a>
            </div>
            <!-- <div class="ui-field-contain">
                <a href="#" class="ui-btn ui-btn-c ui-corner-all ui-shadow ui-btn-icon-top ui-c-icon ui-c-icon-history-blue ui-nodisc-icon wrap"
                    onclick="">HISTORIA CLÍNICA</a>
            </div> -->
            <div class="ui-field-contain">
                <a href="#" class="ui-btn ui-btn-c ui-corner-all ui-shadow ui-btn-icon-top ui-c-icon ui-c-icon-alarm ui-nodisc-icon wrap"
                    onclick="navConsultaTurnos('consultaTurnos', false)">TURNOS RESERVADOS</a>
            </div>
            <!-- registro de pacientes, por ahora sin desarrollo -->
            <!-- <div class="ui-field-contain div_oculto">
                <a href="#" class="ui-btn ui-btn-c ui-corner-all ui-shadow ui-btn-icon-top ui-c-icon ui-c-icon-newuser-blue ui-nodisc-icon wrap"
                    onclick="navRegistroNuevoPaciente()">REGISTRAR NUEVO PACIENTE</a>
            </div> -->
        </div>
    </div>
    <div class="left_text lateral_padding" data-role="footer" data-theme="a" 
        data-position="fixed" data-tap-toggle="false" data-hide-during-focus="false">
        <a href="#panelOpciones" id="aOpciones" class="ui-btn ui-btn-f ui-btn-inline ui-alt-icon ui-nodisc-icon ui-corner-all ui-icon-bars ui-btn-icon-left ui-btn-icon-notext">Opciones</a>
    </div>
</div>