<div id="pRegistroNuevoPaciente" data-role="page" data-theme="c">
    <div data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="">
        <h1>Nuevo paciente</h1>
    </div>
    <form data-role="content" onsubmit="confirmarRegistroPaciente()">
        <div class="center_text">
            <p> <strong>Ingrese los datos del nuevo usuario</strong> </p>
        </div>
        <div class="ui-field-contain">
            <label for="txtApellidoPac">Apellido/s:</label>
            <input type="text" id="txtApellidoPac" name="txtApellidoPac" required/>
        </div>
        <div class="ui-field-contain">
            <label for="txtNombrePac">Nombre/s:</label>
            <input type="text" id="txtNombrePac" name="txtNombrePac" required/>
        </div>
        <div class="ui-field-contain">
            <label for="dtpFechaNacimientoPac">Fecha de nacimiento:</label>
            <input type="date" id="dtpFechaNacimientoPac" name="dtpFechaNacimientoPac" required/>
        </div>
        <div class="ui-field-contain">
            <label for="txtTelefonoPac">Teléfono:</label>
            <input type="tel" id="txtTelefonoPac" name="txtTelefonoPac" required/>
        </div>
        <div class="ui-field-contain">
            <label for="txtEmailPac">Dirección de e-mail:</label>
            <input type="email" id="txtEmailPac" name="txtEmailPac" required/>
        </div>
        <div class="ui-field-contain">
            <label for="tarComentarioPac">Comentario:</label>
            <!-- <input type="" id="tarComentarioPac" name="tarComentarioPac"/> -->
            <textarea id="tarComentarioPac" name="tarComentarioPac"></textarea>
        </div>
        <div class="ui-field-contain">
            <a href="#" class="ui-btn ui-btn-d ui-corner-all" onclick="cancelarRegistroPaciente()">Cancelar</a>
            <!-- <button class="ui-btn ui-btn-c ui-corner-all">Confirmar</button> -->
            <input type="submit" class="ui-btn ui-btn-c ui-corner-all" value="Confirmar"/>
        </div>
    </form>
</div>